.about-title {
  font-weight: bold;
  color: var(--orange-100);
  margin-bottom: 20px;
}

.bio-card {
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  width: 100%;
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
}
.bio-card .github-link {
  color: var(--blue-100);
  text-decoration: none;
  font-weight: bold;
}
.bio-card .bio {
  color: var(--black-50);
  font-size: 14px;
  margin-top: 10px;
}
.bio-card .hobbies {
  text-align: left;
  margin-top: 20px;
  margin-left: 20px;
}
.bio-card .hobbies li {
  color: var(--black-10);
}
